<mat-card>
    <mat-card-content>
        <h1>Welcome to Spectrum!</h1>
        <p>A spectrum (plural spectra or spectrums)
            is a condition that is not limited to a specific
            set of values but can vary, without steps, across a continuum. The word was first used
            scientifically in optics to describe the rainbow of colors in visible light after passing
            through a prism. As scientific understanding of light advanced, it came to apply to the
            entire electromagnetic spectrum.
            Spectrum has since been applied by analogy to topics outside optics. Thus, one might talk
            about the "spectrum of political opinion", or the "spectrum of activity" of a drug, or the
            "autism spectrum". In these uses, values within a spectrum may not be associated with
            precisely quantifiable numbers or definitions. Such uses imply a broad range of conditions
            or behaviors grouped together and studied under a single title for ease of discussion.
            Nonscientific uses of the term spectrum are sometimes misleading. For instance, a single
            left–right spectrum of political opinion does not capture the full range of people's political
            beliefs. Political scientists use a variety of biaxial and multiaxial systems to more
            accurately characterize political opinion.
            In most modern usages of spectrum there is a unifying theme between the extremes at
            either end. This was not always true in older usage.</p>
        <h3>Electromagnetic spectrum</h3>
        <p>Electromagnetic spectrum refers to the full range of all frequencies of electromagnetic radiation[4] and
            also to the characteristic distribution of electromagnetic radiation emitted or absorbed by that
            particular object. Devices used to measure an electromagnetic spectrum are called spectrograph or
            spectrometer. The visible spectrum is the part of the electromagnetic spectrum that can be seen by the
            human eye. The wavelength of visible light ranges from 390 to 700 nm.[5] The absorption spectrum of a
            chemical element or chemical compound is the spectrum of frequencies or wavelengths of incident
            radiation that are absorbed by the compound due to electron transitions from a lower to a higher energy
            state. The emission spectrum refers to the spectrum of radiation emitted by the compound due to electron
            transitions from a higher to a lower energy state.</p>
        <p>Light from many different sources contains various colors, each with its own brightness or intensity. A
            rainbow, or prism, sends these component colors in different directions, making them individually
            visible at different angles. A graph of the intensity plotted against the frequency (showing the
            brightness of each color) is the frequency spectrum of the light. When all the visible frequencies are
            present equally, the perceived color of the light is white, and the spectrum is a flat line. Therefore,
            flat-line spectra in general are often referred to as white, whether they represent light or another
            type of wave phenomenon (sound, for example, or vibration in a structure).</p>
        <p>In radio and telecommunications, the frequency spectrum can be shared among many different broadcasters.
            The radio spectrum is the part of the electromagnetic spectrum corresponding to frequencies lower below
            300 GHz, which corresponds to wavelengths longer than about 1 mm. The microwave spectrum corresponds to
            frequencies between 300 MHz (0.3 GHz) and 300 GHz and wavelengths between one meter and one
            millimeter.[6][7] Each broadcast radio and TV station transmits a wave on an assigned frequency range,
            called a channel. When many broadcasters are present, the radio spectrum consists of the sum of all the
            individual channels, each carrying separate information, spread across a wide frequency spectrum. Any
            particular radio receiver will detect a single function of amplitude (voltage) vs. time. The radio then
            uses a tuned circuit or tuner to select a single channel or frequency band and demodulate or decode the
            information from that broadcaster. If we made a graph of the strength of each channel vs. the frequency
            of the tuner, it would be the frequency spectrum of the antenna signal.</p>
        <p>In astronomical spectroscopy, the strength, shape, and position of absorption and emission lines, as
            well as the overall spectral energy distribution of the continuum, reveal many properties of
            astronomical objects. Stellar classification is the categorisation of stars based on their
            characteristic electromagnetic spectra. The spectral flux density is used to represent the spectrum of a
            light-source, such as a star.</p>
        <p>In radiometry and colorimetry (or color science more generally), the spectral power distribution (SPD)
            of a light source is a measure of the power contributed by each frequency or color in a light source.
            The light spectrum is usually measured at points (often 31) along the visible spectrum, in wavelength
            space instead of frequency space, which makes it not strictly a spectral density. Some
            spectrophotometers can measure increments as fine as one to two nanometers. the values are used to
            calculate other specifications and then plotted to show the spectral attributes of the source. This can
            be helpful in analyzing the color characteristics of a particular source.</p>
    </mat-card-content>
</mat-card>