<div class="list-wrapper">
  <mat-card *ngFor="let user of users" class="card padded rounded list-item">
    <div class="grey padded rounded shadow align m-b card-header">
      <img mat-card-avatar class="card-image"
        [src]="user.thumb64URL">
      <div class="card-title">{{user.displayName}}</div>
      <div class="card-subtitle">{{user.name.first}}&nbsp;{{user.name.last}}</div>
      <div class="card-comment">{{user.email}}</div>
    </div>
    <mat-card-content class="grey padded rounded shadow align">{{user.bio}}</mat-card-content>
    <mat-card-actions><button mat-button class="grey" (click)="goToProfile(user.uid)">View profile</button></mat-card-actions>
  </mat-card>
</div>