<h2>Create your profile</h2>
<mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="form.email">
</mat-form-field><br>
<mat-form-field>
        <input matInput placeholder="Display Name" [(ngModel)]="form.displayName">
</mat-form-field><br>
<mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="form.firstName">
</mat-form-field><br>
<mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="form.lastName">
</mat-form-field><br>
<button primary mat-raised-button (click)="save()">Save</button>