<style>
  .toolbar-divider {
    flex: 1 1 auto;
  }
</style>
<mat-toolbar color="primary"><span routerLink="">
    <img src="assets/img/color-wheel-48.png">&nbsp;Spectrum
  </span><span class="toolbar-divider"></span><span routerLink="/profile">Profile</span><span
    routerLink="/search">Explore</span><span class="toolbar-divider"></span>
  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent>
      <button routerLink="/profile-settings" mat-menu-item>
        <mat-icon>edit</mat-icon>Profile Settings
      </button>
      <button mat-menu-item (click)="auth.signOut()">
        <mat-icon>exit_to_app</mat-icon>Logout
      </button>
    </ng-template>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>face</mat-icon>
  </button>
</mat-toolbar>