<footer>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact Us</a></li>
        <li class="secret">
            <button routerLink="/secret" mat-menu-item>
              <mat-icon class="white">filter_vintage</mat-icon>
            </button></li>
    <li>
      <p>Development by Totally Made Up Corp</p>
    </li>
    <li>
      <p>In collaboration with <a href="http://train4smartservices.eu/">Train 4 Smart Services</a></p>
    </li>
    <li>Skill icons by <a href="https://icons8.com/">ICONS8</a></li>
  </ul>
</footer>