.tile
    display: flex
    border-radius: 25px
    height: auto

.flex
    display: flex
    justify-content: center
    align-items: flex-start
    @media only screen and (min-device-width : 320px) and (max-device-width : 768px)
        display: flex
        justify-content: center
        flex-direction: row
        flex-wrap: wrap

.content
    width: 100%
    height: 100%

.background-color
    background-color: #EDEDED

.bio-field
    height: 100%

.contact-list
    list-style: none
    text-decoration: none
    padding: 0
    margin: 0

.contact-link
    text-decoration: none
    color: black

.margin-bottom
    margin-bottom: 16px

.align
    display: flex
    justify-content: flex-start
    align-items: center

.profile-pic
    border-radius: 4px
    display: block
    width: auto
    height: auto
    margin-left: auto
    margin-right: auto
    display: block

.skill-description
    width: 75%