.tile
    display: flex
    border-radius: 25px
    height: auto

.content
    width: 100%
    height: 100%

.background-color
    background-color: #EDEDED

.card
    padding: 20px
    padding-top: 50px
    width: 100%
    height: 100%

.profile-pic
    border-radius: 25px
    display: block
    width: auto
    height: auto
    margin-left: auto
    margin-right: auto
    display: block
    margin-bottom: 10px

.skill-description
    width: 75%

.card-body
    background-color: #EDEDED
    border-radius: 25px
    padding: 10px
    margin-bottom: 10px