<mat-card class="card shadow padded">
    <mat-card-title>Profile&nbsp;<button mat-icon-button *ngIf="myProfile && !editable" (click)="editable = !editable">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="editable" (click)="saveProfileChanges(profileData)">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button *ngIf="editable" (click)="cancelProfileChanges()">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-card-title>
    <img class="profile-pic" [src]=user.thumb256URL>
    <input *ngIf="editable" type="file" (change)="uploadFile($event)">
    <mat-card-content class='card-body' *ngIf="!editable">
        <p class="card-label">Username:&nbsp;{{user.displayName}}</p>
        <p class="card-label">Name:&nbsp;{{user.name.first}}&nbsp;{{user.name.last}}</p>
        <p class="card-label">Email:&nbsp;{{user.email}}</p>
    </mat-card-content>
    <mat-card-content class="card-body" *ngIf="editable">
        <mat-form-field>
            <input matInput placeholder="Display Name" [(value)]="profileData.displayName">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="First Name" [(value)]="profileData.name.first">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="Last Name" [(value)]="profileData.name.last">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="Email" [(value)]="profileData.email">
        </mat-form-field><br>
    </mat-card-content>
</mat-card>
<mat-card class="card shadow padded">
    <mat-tab-group class="content background-color">
        <mat-tab label="Bio">
            <p *ngIf="!editable" class="tab-content">{{user.bio}}</p>
            <span>
                <textarea *ngIf="editable" matInput placeholder="Edit bio" [(ngModel)]="profileData.bio"></textarea>
            </span>
        </mat-tab>
        <mat-tab label="Skills">
            <span *ngIf="!editable">
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let skill of user.skills">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="align">
                                <img [src]="skill.imgURL50">&nbsp;{{skill.experience}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>{{skill.description}}</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </span>
            <span *ngIf="editable">
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let skill of profileData.skills">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="align">
                                <img [src]="skill.imgURL50">&nbsp;{{skill.experience}}
                            </mat-panel-title>
                            <mat-panel-description class="align">
                                <button mat-icon-button (click)="removeSkill(skill)">Remove&nbsp;skill&nbsp;
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <mat-label>Experience</mat-label>
                            <mat-select [(value)]="skill.experience">
                                <mat-option value="Beginner">
                                    Beginner
                                </mat-option>
                                <mat-option value="Intermediate">
                                    Intermediate
                                </mat-option>
                                <mat-option value="Advanced">
                                    Advanced
                                </mat-option>
                            </mat-select>
                        </mat-form-field><br>
                        <mat-form-field>
                            <textarea matInput placeholder="Tell us about it"
                                [(ngModel)]="skill.description"></textarea>
                        </mat-form-field>
                    </mat-expansion-panel>
                </mat-accordion>
                <app-skill-select *ngIf="editable" item="user" (onChange)="updateSelectedSkills($event)">
                </app-skill-select>
                <button mat-icon-button (click)="saveSkillChanges()">Add&nbsp;skills&nbsp;
                    <mat-icon>add_box</mat-icon>
                </button>
            </span>
        </mat-tab>
        <mat-tab label="Contact">
            <span *ngIf="!editable">
                <ul class="contact-list">
                    <li *ngFor="let link of user.contactLinks"><a class="contact-link"
                            [href]="link.url">{{link.label}}</a></li>
                </ul>
            </span>
            <span *ngIf="editable">
                <ul>
                    <li *ngFor="let link of profileData.contactLinks"><a [href]="link.url">{{link.label}}</a>
                        <button mat-icon-button (click)="removeContactLink(link)">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </li>
                </ul>
                <mat-form-field>
                    <input matInput placeholder="URL" [(ngModel)]="newContactLink.url">
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Label" [(ngModel)]="newContactLink.label">
                </mat-form-field><br>
                <button mat-icon-button (click)="saveContactLinkChanges()">Add&nbsp;link&nbsp;
                    <mat-icon>add_box</mat-icon>
                </button>
            </span>
        </mat-tab>
    </mat-tab-group>
</mat-card>