<div class="login">
    <mat-card class="login-card">
<mat-form-field>
    <input matInput placeholder="Enter your email" [(ngModel)]="form.email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field><br>
<mat-form-field>
    <input matInput placeholder="Password" [(ngModel)]="form.password" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field><br>
<button mat-raised-button (click)="auth.signIn(form.email, form.password)">Sign In</button>
<button mat-raised-button (click)="auth.register()">Register</button>
</mat-card>
</div>